// Base Settings ---------------------------------------------------------------

html,
body {
  height: 100%;
}

img {
  height: auto;
  max-width: 100%;
}

// Helper Classes --------------------------------------------------------------

.img-contain {
  object-fit: contain;
}

.text-shadow {
  text-shadow: 0 0 8px #0004;
}

// Bootstrap Overwrites --------------------------------------------------------

.bg-primary,
.btn-primary {
  background-color: #3d48af !important;
}

.bg-secondary,
.btn-secondary {
  background-color: #ededed !important;
}

// Autocomplete Component -------------------------------------------------------------------

.autocomplete {
  position: relative;
}

.autocomplete-results {
  padding: 0;
  margin: 0;
  border: 1px solid #ededed;
  height: 120px;
  overflow: auto;
}

.autocomplete-result {
  list-style: none;
  text-align: left;
  padding: 4px 2px;
  cursor: pointer;
}

.autocomplete-result.is-active,
.autocomplete-result:hover {
  background-color: #3d48af;
  color: white;
}

// Shame.css -------------------------------------------------------------------

